p{font-family: 'Anton', sans-serif;}
.p1{font-family: 'Dancing Script', cursive;}
.p2{font-family: 'Satisfy', cursive;}
.p3{font-family: 'Press Start 2P', cursive;}
.p4{font-family: 'Roboto Condensed', sans-serif;}
.fa-discord{color: rgb(58, 0, 128);}
.fa-playstation{color: rgb(0, 64, 255);}
.fa-xbox{color: green;}
.fa-steam{color: rgb(95, 122, 160);}